:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}

.newProject {
  /* display: grid; */
  /* height: 100vh; */
  /* overflow: scroll; */
}
