.fieldGroup {
  display: grid;
  grid-gap: 0.25rem;
  margin-bottom: 1rem;
}

.label,
.input,
.error {
  width: 94%;
  margin: 0 auto;
}

.label {
  font-weight: bold;
}

.input {
}

.invalidInput {
  border: 3px solid red;
}

.error {
  font-style: italic;
  color: rgb(255, 49, 49);
}
