:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.toolbarItem {
  padding: 0 10px;
}
