:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}

.gridContainer {
  display: grid;
  justify-items: center;
  padding: 2rem;
}

.container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.option {
  margin-top: 0.2rem;
  text-align: center;
}
